@import "tailwindcss";
@plugin "daisyui";

/* Poppins Font */
.poppins {
  font-family: "Poppins", sans-serif;

}

/* Roboto Font */
.font-roboto {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.caveat {
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-style: normal;
}
.work {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.outfit-semibold {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.cpr {
  color: #EF1414;
}
.csd {
  color: #08123a;
}
.crd {
  color: #414042;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(0);
  }
  66.66% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.animate-slide {
  display: flex;
  animation: slide 10s infinite;
}
